<h1>TV Show details</h1>

<h2>{{name}}</h2>
<img src="https://www.themoviedb.org/t/p/w220_and_h330_face{{poster_path}}" alt="{{title}}">
<p>Runtime:{{runtime}} minutes</p> 
<p>Genres:{{genres._id}}</p> 
<p>Vote Average:{{vote_average}}</p> 
{{overview}}




<a href="/posts/create?tvId={{id}}">Write a review for this TV show</a>