<h1 class="display-3 d-flex justify-content-center">Criticas</h1>
          
<div class="card-group" style="card-group">
    {{#each dbPosts}}
<div class="col-3 align-items-stretch mt-2 mb-2" >
  <div class="card-body">
      {{#if this.movieId}}
      <h4>{{this.movieId.poster_path}}</h4>
      {{/if}}
      {{#if this.tvId}}
      <h4>{{this.tvId.poster_path}}</h4>
      {{/if}}
    <h5 class="card-title font-weight-bold">{{this.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Escrita por {{this.author.username}}</h6>
        <a href="/posts/{{this._id}}">Mas detalles</a><br>
        <a href="/posts/author/{{this.author.username}}">otras criticas</a>
  </div>
</div>
    {{/each}}
</div>