
<div>
    written by: {{foundPost.author.username}}
</div>
<div>
    {{foundPost.content}}
</div>


{{#if movieDetailsObject}}
<h2>{{title}}</h2>
<img src="https://www.themoviedb.org/t/p/w220_and_h330_face{{poster_path}}" alt="{{title}}"> 
{{!-- get all the movie details to load on this page for the review/post --}}
{{else}}
<h2>{{tvDetailsObject.title}}</h2>
<img src="https://www.themoviedb.org/t/p/w220_and_h330_face{{poster_path}}" alt="{{title}}"> 

{{!-- get all the tv details to load on this page for the review/post --}}

{{/if}}

{{#unless comments}}
    <p>No comments yet!</p>
{{/unless}}

{{#each comments}}
    <p><b>{{this.author.username}}:<b> {{this.content}}</p>
{{/each}}


<div>
    <h3>Start a conversation!</h3>
</div>
<form action="/posts/:postId/comment" method="post">
<label>
    Your username: 
    <input type="text" name="author" />
</label>

<input type="text" name="postAuthor" value="{{author.username}}" hidden />
<textarea name="content" id="" cols="30" rows="3"></textarea>

<button type="submnit">Comment</button>
</form>

<a href="users/:postId/posts">See all {{foundPost.author.username}}'s posts</a>